*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 18, 18);
}

.carrousel{
    display: flex;
    align-items: center;
}

.carrousel button{
    border: none;
    background-color: inherit;
    color: #FFF;
    font-size: 2em;
    transition: 1s;
    cursor: pointer;
}

.fa-chevron-right,
.fa-chevron-left{
    text-shadow: 0 0 10px #000;
}

#previous{
    position: relative;
    left: 30px;
}

#next{
    position: relative;
    right: 30px;
}

.carrousel button:hover{
    color: red;
}